body {
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.questions {
    width: 550px;
    position: relative;
    top: -200px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    font-family: "Work Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.questions h1 {
    font-size: 45px;
    font-weight: 700;
}

.questions h3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.asuult {
    padding: 10px;
    display: none;
}